<% layout("/layouts/boilerplate"); %>
    <div class="row">
        <div class="col-8 offset-2">
            <br>

            <h3>Create a new listing</h3>
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" class="form-control" required
                        placeholder="Add a catchy title">
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-2">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required
                        placeholder="Enter description"></textarea>
                    <div class="invalid-feedback">Please enter a short description.....</div>

                </div>

                <div class="row">
                    <div class="mb-2">
                        <label for="image" class="form-label"> Upload Image </label>
                        <input type="file" name="listing[image]" class="form-control" required>
                        
                    </div>
                    <div class="row">
                        <div class="mb-2 col-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="" name="listing[price]" class="form-control" required
                                placeholder="Enter price">
                            <div class="invalid-feedback">Price should be valid! </div>
                        </div>
                        <div class="mb-2 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" class="form-control" required
                                placeholder="Enter location">
                            <div class="invalid-feedback">Location should be valid</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" required
                            placeholder="Enter country name">
                        <div class="invalid-feedback"> country name should be valid</div>
                    </div><br>
                    <button class="btn btn-dark add-btn mt-2 col-md-1 mb-3 ms-3">ADD</button><br><br>
            </form>
        </div>
    </div>